*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}
/* navbar style */
.aTag{
    padding: 9px 40px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: bold;
}
.aTag:hover{
    color: blueviolet;
}
.navbar{
    margin-left: 50px;
}
.flx{
    display: flex;
    justify-content:center;
    background-image: linear-gradient(blue,black);
    padding: 16px;
}
.icn{
    position: absolute;
    top: 0;
    left: 170px;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index:2;
}

/* Home style */
#watchImg1{
    height: 450px;
    margin-left: 200px;
    margin-top: 40px;
    color:white;
}
.watchHeading1{
    width: 500px;
    position: absolute;
    top: 190px;
    right: 200px;
    padding: 10px;
    color:white;
}
#Home{
    background-image: linear-gradient(rgb(110, 124, 187),blue,blueviolet);
}

/* About */
#watchImg2{
    height: 450px;
    margin-left: 800px;
    margin-top: 50px;
    color:white;
}
.watchHeading2{
    width: 500px;
    position: absolute;
    top: 670px;
    left: 200px;
    padding: 10px;
    color:black;
    font-weight:bolder;
}
#About{
    background-image: linear-gradient(rgb(255, 255, 255),purple);
}
/* Features */
#Features{
    margin:0px;
}
.center{
    text-align: center;
    width: 700px;
    margin-left: 300px;
}
.flexCard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 430px;
    border-bottom: 2px solid purple;
    margin:10px 14px;
    padding: 20px;
    transition: 0.3s;
}
.card:hover{
    transform: scale(1.03);
}

/* Product */
.productDiv{
    text-align: center;
    width: 700px;
    margin-left: 300px;
}

.flexWatch{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cardW{
    margin:30px;
    border:2px solid rgb(231, 231, 231);
    border-radius: 30px;
    transition: 0.4s;
}
.cardW:hover{
    transform: scale(1.1);
}
.watchBuy{
    height: 250px;
}
.ctr{
    text-align: center;
}
.nam{
    color: rebeccapurple;
}

.btn{
    margin:10px;
    cursor: pointer;
    color:rebeccapurple;
    font-weight: bolder;
    background-color: white;
    border:2px solid rebeccapurple;
    padding:5px;
    border-radius: 10px;
    transition: 0.2s;
}
.btn:hover{
    background-color: rebeccapurple;
    color:white;
}

/* Contact us */
#Contact{
    background-image:linear-gradient(black,blue);
}
#contDiv{
    width: 500px;
    text-align: center;
    color: white;
    margin-left: 450px;
}

.formDiv{
    margin-top: 20px;
    margin-left: 550px;
}
.marP{
    padding: 10px;
    border-radius: 15px;
    border:1px solid rgb(204, 201, 201);
    width: 300px;
}

.btn2{
    margin:10px;
    cursor: pointer;
    color:rebeccapurple;
    font-weight: bolder;
    background-color: white;
    border:0px solid rebeccapurple;
    padding:5px;
    border-radius: 10px;
    transition: 0.2s;
    margin-left: 140px;
}
.btn2:hover{
    background-color: rebeccapurple;
    color:white;
}

/* footer */
#ft{
    text-align: center;
    color: yellow;
    background-image: linear-gradient(blue,black);
}
